.left_section {
  float: left;
  width: 30%;
  height: 100%;
  background: #f4f4f4;
  padding: 10px;
  margin: 0px;
}

.right_section {
  float: right;
  width: 65%;
  height: 100%;
  padding: 0px;
  border: 0px;
}
